@import "../../../styles/__variables.css";

/********************* Content ********************/
/************************************************/

.login__content {
  display: grid;
  place-items: center;
  position: absolute;
  max-width: 1200px;
  width: 100%;
  left: 50%;
  top: 55%;
  transform: translate(-50%, -50%);
  color: white;
  z-index: 3;
}

.login__content > * {
  padding: 1rem;
  text-align: center;
}

.login__content > h1 {
  font-size: clamp(1.9rem, -0.875rem + 6.333vw, 5rem);
  font-weight: 900;
}
.login__content > h2 {
  margin-bottom: 0.5rem;
  font-size: clamp(0.9rem, -0.875rem + 6.333vw, 1.5rem);
}
.login__content > p {
  font-size: clamp(0.8rem, -0.875rem + 6.333vw, 1.3rem);
  line-height: 1.8rem;
}
